[submodule "third_party/glfw"]
	path = engine/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/imgui"]
	path = engine/third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/openal-soft"]
	path = engine/third_party/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "third_party/freetype"]
	path = engine/third_party/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "third_party/PhysX"]
	path = engine/third_party/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "third_party/assimp"]
	path = engine/third_party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third_party/tracy"]
	path = engine/third_party/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "third_party/serialization"]
	path = engine/third_party/serialization
	url = https://github.com/boostorg/serialization.git
[submodule "third_party/inih"]
	path = engine/third_party/inih
	url = https://github.com/benhoyt/inih.git
[submodule "third_party/gpm"]
	path = engine/third_party/gpm
	url = https://github.com/GP-Engine-team/gpm.git
