# Fichier au format .clang généré par Visual Studio

BasedOnStyle: Microsoft
AlwaysBreakTemplateDeclarations: 'Yes'
AlwaysBreakTemplateDeclarations: 'Yes'
PointerAlignment: Left
AccessModifierOffset: '-4'