[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/openal-soft"]
	path = deps/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "deps/PhysX"]
	path = deps/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "deps/tracy"]
	path = deps/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "deps/serialization"]
	path = deps/serialization
	url = https://github.com/boostorg/serialization.git
[submodule "deps/inih"]
	path = deps/inih
	url = https://github.com/benhoyt/inih.git
[submodule "deps/gpm"]
	path = deps/gpm
	url = https://github.com/GP-Engine-team/gpm.git
